<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
        <link rel="stylesheet" type="text/css" href="assets/style.css">

        <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
        <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>

        <script src="assets/js/ws.js"></script>

        <script>
            var globalChannels = {{ channels|json_encode|raw }};
            var privateChannels = {{ privateChannels|json_encode|raw }};
        </script>

        <script>
            var roomsService = {
                storage: localStorage,
                serverRooms: {},
                load: function() {
                    return this.storage.getItem('rooms');
                },
                getAll: function() {
                    return (this.load() === null) ? null : this.load().split(',');
                },
                is: function (room) {
                    if (this.load() === null) {
                        return false;
                    }

                    var condition = $.inArray(room, this.load());
                    return (condition !== -1 ? this.load()[condition] : false);
                },
                join: function (channel, private) {
                    var access = private || false;

                    var $this = this;

                    return SocketService.channel.join(channel, access, function (data) {
                        $this.serverRooms = data.channels;
                        $('.dashboard #' + data.current)
                            .removeClass('panel-primary')
                            .addClass('panel-success')
                        ;
                    });
                },
                leave: function (channel, private) {
                    var access = private || false;

                    var $this = this;

                    return SocketService.channel.leave(channel, access, function (data) {
                        $this.serverRooms = data.channels;
                        $('.dashboard #' + data.current)
                            .removeClass('panel-success')
                            .addClass('panel-primary')
                        ;

                        if (private) {
                            $('.dashboard #' + data.current).parent('.col-md-4').remove();
                            $('.btn[data-room="' + data.current + '"]').remove();
                        }
                    })
                },
                updateRooms: function (index, room) {
                    var $this = roomsService;

                    var storageRooms = $this.getAll(),
                        serverRooms = $this.serverRooms;

                    var conditions = {
                        storage: $.inArray(room, storageRooms) >= 0,
                        server: serverRooms.hasOwnProperty(room)
                    };

                    if (conditions.storage && !conditions.server) {
                        $this.join(room);
                    }

                    $.each(serverRooms, function (index, element) {
                        if (
                            !($.inArray(element, storageRooms) >= 0) &&
                            element !== SocketService.socket.id
                        ) {
                            $this.leave(element);
                        }
                    });
                }
            };

            var EventService = {
                init: function () {
                    if (roomsService.getAll()) {
                        $.each(roomsService.getAll(), function (i, room) {
                            roomsSelect.find('option[value=' + room + ']').prop('selected', true);
                            roomsService.join(room);
                        });
                    }

                    roomsSelect.multiselect();
                },
                template: function (data) {
                    var date = new Date(data.created_at);
                    var dateFormat = '[ ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getUTCSeconds() + '  ]';
                    return '<div class="clearfix"><blockquote class="you pull-left">New ' + data.channel + ' event: ' + data.message + '</blockquote></div>';
                },
                new: function (channel, message, storable) {
                    return SocketService.socket.emit('event:new', {channel: channel, created_at: Math.floor(Date.now() / 1000), message: message, storable: storable});
                },
                getUpdates: function () {
                    return SocketService.socket.emit('event:updates', {cursor: SocketService.cursor.get()}, function (data) {
                        if (data.length) {
                            $.each(data, function (i, record) {
                                SocketService.cursor.refresh();
                                EventService.draw(record);
                            });
                        }
                    });
                },
                draw: function (data) {
                    var panel = $('.dashboard #' + data.channel);
                    var template = EventService.template(data);

                    panel.find('.panel-body').append(template);
                }
            };

        </script>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>

<script>
    var roomsSelect = $('select[multiple]#channels');
    var rooms = roomsService.getAll();

    var uri = 'http://client-php2.kidstaff.com.ua:3032';

    $(document).ready(function () {
        SocketService.connect(uri);

        SocketService.on.handlers['get new event'] = function (data) {
            SocketService.cursor.refresh();
            EventService.draw(data);

        };

        SocketService.socket.on('connect', function () {
            console.log('connect');
            if (SocketService.reconnect == true) {
                SocketService.connect(uri);
                SocketService.reconnect = false;
            }

            SocketService.on.generate();
            EventService.init();

            EventService.getUpdates();
        });

        var disconnectHandler = function() {
            console.log('disconnect');
            SocketService.reconnect = true;
            var $this = this;

            var disconnectedInterval = SocketService.timer.start(function() {
                if (SocketService.timer.step < 30) {
                    SocketService.timer.currentValue = SocketService.timer.values[0];
                } else if (SocketService.timer.step >= 30 && SocketService.timer.step < 50) {
                    SocketService.timer.change(
                        disconnectedInterval[0],
                        disconnectedInterval[1],
                        SocketService.timer.values[1]
                    );
                    SocketService.timer.currentValue = SocketService.timer.values[1];
                } else {
                    SocketService.timer.change(
                        disconnectedInterval[0],
                        disconnectedInterval[1],
                        SocketService.timer.values[2]
                    );
                    SocketService.timer.currentValue = SocketService.timer.values[2];
                }

                SocketService.timer.step++;

                if (SocketService.socket.connected === false) {
                    SocketService.socket = null;
                    SocketService.connect(uri);
                } else {
                    SocketService.timer.stop(0);
                    SocketService.on.generate();
                    EventService.init();

                    EventService.getUpdates();

                    SocketService.socket.on('disconnect', disconnectHandler);
                }

            }, SocketService.timer.values[0]);

        };

        SocketService.socket.on('disconnect', disconnectHandler);

        roomsSelect.change(function () {
            var selected = $(this).val();
            localStorage.removeItem('rooms');
            localStorage.setItem('rooms', selected);

            $.each(selected, roomsService.updateRooms);
        });

        $('p.buttons button').on('click', function () {
            var room = $(this).data('room'),
                access = $(this).data('access'),
                messageElement;

            if (access === 'public') {
                messageElement = $('#messageFieldPublic');
            } else if (access === 'private') {
                messageElement = $('#messageFieldPrivate');
            }


            EventService.new(room, messageElement.val(), true);
            messageElement.val('');
        });

        $('.leavePrivateRoom').on('click', function () {
            var room = $(this).data('room');

            roomsService.leave(room, true);
        });

        $('form#form-login').submit(function (e) {
            e.preventDefault();
            var form = $(this);

            jQuery.ajax({
                type: 'POST',
                url: '/login',
                data: {
                    name: form.find('input#login').val(),
                    password: form.find('input#password').val()
                },
                success: function(user) {
                    $.cookie('user', user.id);

                    window.location = '/';
                },
                dataType: 'json'
            });
        });

        $('form#form-new-channel').submit(function (e) {
            e.preventDefault();
            var form = $(this);

            jQuery.ajax({
                type: 'POST',
                url: '/newPrivateChannel',
                data: {
                    name: form.find('input#channel-name').val(),
                    users: form.find('select#users-select').val()
                },
                success: function() {
                    window.location = '/';
                },
                dataType: 'json'
            });
        });

        if (privateChannels !== null) {
            privateChannels.forEach(function (channel) {
                roomsService.join(channel.name, true);
            });
        }

    });



</script>
</html>