
{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Public channels</h3>
            <hr>
            <div class="col-md-2">
                <div class="row">
                    <select multiple id="channels" size="40">
                        {% for channel in channels %}
                            <option value="{{ channel }}">{{ channel }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div class="row">
                    <p class="buttons">
                        <input type="text" class="form-control" id="messageFieldPublic" placeholder="Message">
                        <br>
                        {% for channel in channels %}
                            <button type="button" data-room="{{ channel }}" data-access="public" class="btn btn-primary">Emit {{ channel }}</button>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="col-md-10 dashboard">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary" id="comment">
                            <div class="panel-heading"><b> Comment </b> <small>channel</small></div>
                            <div class="panel-body" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary" id="message">
                            <div class="panel-heading"><b> Message </b> <small>channel</small></div>
                            <div class="panel-body" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary" id="reply">
                            <div class="panel-heading"><b> Reply </b> <small>channel</small></div>
                            <div class="panel-body" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h3>Private channels</h3>
            <hr>

            <div class="col-md-2">
                <div class="row">
                    {% if not session.user %}
                        <form id="form-login">
                            <div class="form-group">
                                <input type="text" class="form-control" id="login" placeholder="Login" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    {% else %}
                        <p>Hello, <strong>{{ session.user.name }}</strong>, create new private channel: </p>
                        <form id="form-new-channel">
                            <div class="form-group">
                                <input type="text" class="form-control" id="channel-name" placeholder="Name" required>
                            </div>
                            <select multiple id="users-select" size="40" required>
                                {% for user in config.users %}
                                    {% if user.id != session.user.id %}
                                        <option value="{{ user.id }}">{{ user.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <script>$('select[multiple]#users-select').multiselect();</script>
                            <br>
                            <button type="submit" class="btn btn-default">Create</button>
                        </form>
                    {% endif %}
                </div>

                {% if session.user and privateChannels is not null %}
                    <hr>
                    <div class="row">
                        <p class="buttons">
                            <input type="text" class="form-control" id="messageFieldPrivate" placeholder="Message">
                            <br>
                            {% for channel in privateChannels %}
                                <button type="button" data-room="{{ channel.name }}" data-access="private" class="btn btn-primary">Emit {{ channel.name }}</button>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            </div>

            {% if privateChannels is not null %}
                <div class="col-md-10 dashboard private">
                    <div class="row">
                        {% for channel in privateChannels %}
                            <div class="col-md-4">
                                <div class="panel panel-primary" id="{{ channel.name }}">
                                    <div class="panel-heading">
                                        <span class="pull-left">
                                            <b> {{ channel.name }} </b> <small>channel</small>
                                        </span>
                                        <button class="btn btn-default pull-right leavePrivateRoom" data-room="{{ channel.name }}">Leave</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}