.me{
    font-size: 14px;
    margin: -4px;
    border-right: 3px solid #60DF88 !important;
    padding: 5px;
    background-color: rgb(239, 255, 241);
}

.you{
    font-size: 14px;
    margin: 5px;
    border-left: 3px solid rgb(255, 112, 0) !important;
    padding: 5px;
    padding-left:10px;
    background-color: rgb(247, 247, 214);
}

.buttons {
    margin-top: 20px;
}

.buttons button.btn {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.dashboard .panel-body {
    height: 300px;
}